*,
*::before,
*::after {
  box-sizing: border-box;
}
h1,
h2,
ul {
  margin-bottom: 0;
}
ul {
  list-style: none;
  padding: 0;
}
input[type="text"] {
  border-radius: 0;
}
.headline {
  color: #696497;
  font-size: 60px;
  margin-bottom: 20px;
  font-weight: bold;
  font-family: "Kdam Thmor Pro", sans-serif;
  @media (max-width: 768px) {
    font-size: 25px;
  }
}
/*END RESETS*/
